Django==3.2.25

python-dotenv==1.1.1
markdown==3.9
google-genai
google-api-core

langchain==0.2.14
langchain-core==0.2.42
langchain-community==0.2.11
langchain-chroma==0.1.4

sentence-transformers==5.1.1
rank_bm25==0.2.2
jieba==0.42.1
numpy==1.26.4

opencv-python==4.9.0.80

# PyTorch（自動選 CPU/GPU）
torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0

# Mediapipe 用於臉部偵測與對齊
tensorflow==2.19.1
mediapipe==0.10.11

# Pillow 用於影像處理
Pillow==10.1.0

# 影像辨識
keras==3.12.0
