<!-- templates/includes/header.html -->
{% load static %}
<!DOCTYPE html>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a href="/" class="navbar-brand text-decoration-none text-light">PrograssPal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            {% if user.is_authenticated %}
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://docs.google.com/document/d/1aqh6LLDBA2HHEx6jRACtCfgw5PjtDdnHFy-mSA9pL6s/edit?usp=sharing">實驗手冊</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="PreTestDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        知識前測與動機量表
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="PreTestDropdown">
                        <li>
                            <a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSdguXOigLsOd3HQ2u2sGQ0LSI2Aue7zaVtHO6JH1BOi7qdh-g/viewform">
                                前測
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSdX0nNHvLfX-nf9uRKef1bytauHC_KdLeqhPrDyD3SO_M1qFQ/viewform">
                                MSLQ 量表前測
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="PostTestDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        知識後測與問卷
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="PostTestDropdown">
                        <li>
                            <a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSeoFWNUnfpftnnL_RGyCkySx20V7-1knnB1Xj8R1ZBn3TurIw/viewform">
                                後測
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSd89AU4siL4MHVSbVbdIAY9paSxvW8g2FVEBgfecIz5ShybNw/viewform">
                                MSLQ 量表後測
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSdP9brbc7Z_y1upTMoCF-fBnfkHsW4Jdar_r4MlQyzCHgiO8g/viewform">
                                科技接受度問卷
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSfi5-G8geEOgl-mz_aoUYqscj41CI6mY1r7_XOdOnuN1UR1sQ/viewform">
                                EvsD 學習參與與情緒不滿量表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lesson">課程列表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/output">輸出 csv</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="studentCenterDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        學生中心
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="studentCenterDropdown">
                        <li>
                            <a class="dropdown-item" href="/user/study">
                                學習儀表板
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/user/study/quiz/">
                                測驗儀表板
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/profile">個人資料</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/logout">登出</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://docs.google.com/document/d/1aqh6LLDBA2HHEx6jRACtCfgw5PjtDdnHFy-mSA9pL6s/edit?usp=sharing">實驗手冊</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="PreTestDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        知識前測與動機量表
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="PreTestDropdown">
                        <li>
                            <a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSdguXOigLsOd3HQ2u2sGQ0LSI2Aue7zaVtHO6JH1BOi7qdh-g/viewform">
                                前測
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSdX0nNHvLfX-nf9uRKef1bytauHC_KdLeqhPrDyD3SO_M1qFQ/viewform">
                                MSLQ 量表前測
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="PostTestDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        知識後測與問卷
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="PostTestDropdown">
                        <li>
                            <a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSeoFWNUnfpftnnL_RGyCkySx20V7-1knnB1Xj8R1ZBn3TurIw/viewform">
                                後測
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSd89AU4siL4MHVSbVbdIAY9paSxvW8g2FVEBgfecIz5ShybNw/viewform">
                                MSLQ 量表後測
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSdP9brbc7Z_y1upTMoCF-fBnfkHsW4Jdar_r4MlQyzCHgiO8g/viewform">
                                科技接受度問卷
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="https://docs.google.com/forms/d/e/1FAIpQLSfi5-G8geEOgl-mz_aoUYqscj41CI6mY1r7_XOdOnuN1UR1sQ/viewform">
                                EvsD 學習參與與情緒不滿量表
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lesson">課程列表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/login">登入</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/register">註冊</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>

{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show shadow-sm" role="alert">
            {{ message|safe }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
</div>
{% endif %}