<!-- templates/includes/header.html -->
{% load static %}
<!DOCTYPE html>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a href="/lesson",class="navbar-brand">學習系統</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar"></div>
            {% if user.is_authenticated %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/lesson">課程列表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/study">學生中心</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/profile">個人資料</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/logout">登出</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/lesson">課程列表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/login">登入</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/register">註冊</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>