/*navbar*/
.navbar-brand {
    color: #ffffff; /* 設定你想要的顏色，這裡用的是深灰色 */
    text-decoration: none; /* 移除底線 */
}

/* 設定滑鼠移上去時的樣式 */
.navbar-brand:hover {
    color: rgba(255, 255, 255, 0.85); /* 白色稍微變淡一點 */
    text-decoration: none; /* 滑鼠移上去時底線也不會跑出來 */
}

html, body {
    height: 100%; /*確保 <body> 至少有整個視窗的高度*/
}

.main-content {
    display: flex;
    flex-direction: column;
}