/* navbar */
.navbar-brand {
    color: #ffffff;
    text-decoration: none;
}

.navbar-brand:hover {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
}

/* 基礎設定 */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-content {
    padding: 0 !important; 
    display: flex;
    flex-direction: column;
}

.footer {
    width: 100% !important;
    margin: 0 !important;
    flex-shrink: 0;
}